
.first-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image:url("/src/Componants/img/home.jpg") ;
    background-size: cover;
    overflow: hidden;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.second-container{
    display: flex;
    height: 50%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.third-container{
    display: flex;
    height: 50%;
    width: 50%;
    
    justify-content: center;
    align-items: center;
    gap: 30px;

}